
body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #e7ecf1;
    text-align: left;
    background-color:#1F232B;
} 
.bg-light {
    background-color:#414959!important;
}
.header {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 40px;
}
.header > h1{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 78px;
    line-height: 2px;
    color: #D9E1E8;
    margin-right: 5px;
    margin-bottom: 10px;
  }
  
  .menu > span > a{
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
    margin-left: 32px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: white;
  }
.divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;   
    z-index: 2;
}
.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}
h4 {
    font-size: 1cm;
    color: #fff;
}

.btn-facebook {
    background-color: #405D9D;
    color: #fff;
}
.btn-twitter {
    background-color: #42AEEC;
    color: #fff;
}
.footer{
    background: #16191F;
    color: beige;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
}